# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python Cache
.pytest_cache/
.mypy_cache/

# ==========================
# Data Files
# ==========================
data/raw/*.json
data/raw/*.csv
data/processed/*.csv

# (Keep folder structure)
!data/raw/.gitkeep
!data/processed/.gitkeep

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Power BI Auto Backups
# ==========================
*.pbix.autosave

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak